<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Pedidos{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto"> 
                    <a class="navbar-brand" href="{{ url_for('index') }}">Sistema Pedidos</a>
                    <a class="navbar-brand" href="{{ url_for('acompanhamento') }}">Acompanhamento</a>
                    <a class="navbar-brand" href="{{ url_for('cadastro') }}">Cadastrar</a>               


                    {% if current_user.is_authenticated %}
                        {% if current_user.is_admin %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('admin_dashboard') }}">Dashboard</a></li>
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Sair</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer>
    <center>
    <p>&copy; Frango Assado do Salim</p>
    <p> Telefone Fixo: 67 3241-5969 </P

    <!-- Link para o WhatsApp -->
    <a href="https://wa.me/+5567999344814" target="_blank">
        <button style="padding: 5px 10px; font-size: 16px; background-color: rgb(17, 226, 31); color: white; border: none; border-radius: 5px; cursor: pointer;">
            Enviar WhatsApp
        </button>
    </a>

    <p>Rua Roberto Scaff 761, Aquidauana, MS, 79200-000</p>

    <!-- Botão para abrir o Google Maps -->
   
    <a href="https://maps.app.goo.gl/ccnmCcJQ5WkXRnye9" target="_blank">
        <button style="padding: 5px 10px; font-size: 16px; background-color: #4285F4; color: white; border: none; border-radius: 5px; cursor: pointer;">
            Abrir no Google Maps
        </button>
    </a>
    <div class="apresentacao__links">
        <p>

        </P>

        <strong class="apresentacao__links__subtitulo">Desenvolvedor:</strong><p>

        <a class="apresentacao__links__navegacao" href="https://github.com/Ademir-Costa">
            <img src="/static/imagens/github.png">
            Github
        </a>
        <a class="apresentacao__links__navegacao" href="https://linkedin.com/in/ademir-cardoso-costa-2b390b26">
            <img src="/static/imagens/linkedin.png">
            linkedin
        </a>
        <a class="apresentacao__links__navegacao" href="mailto:ademircosta.40@hotmail.com">
            <img src="">
            e-mail
        </a>
    </div>

</center>
</footer>

</body>
</html>
