{% extends "base.html" %}

{% block content %}
<div class="card mx-auto" style="max-width: 400px;">
    <div class="card-header bg-primary text-white">
        <h4>Redefinir Senha</h4>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Nova Senha</label>
                <input type="password" class="form-control" name="nova_senha" required>
            </div>
            <input type="hidden" name="token" value="{{ token }}">
            <button type="submit" class="btn btn-primary w-100">Redefinir</button>
        </form>
    </div>
</div>
{% endblock %}